/* this is our custom Css file*/
body {
	background-color: #000;
	color: #d3d3d3;
}
h1{
	color: #f60;
	font-weight: bold;
}
h2{
	color: #fff;
}
//make default buttons orange, bold and hover effects
	.btn-default {
		background-color: #f60;
		border-color: #000;
		color: #000;
		font-weight: bold;
	}
	.btn-default:hover {
		background-color: #ff6600;
		border-color: #000;
		color: #fff;
		font-weight: bold;
	}
//make primary buttons bold and hover effects
	.btn-primary {
		color: #000;
		font-weight: bold;
	}
	.btn-primary:hover {
		border-color: #000;
		color: #fff;
		font-weight: bold;
	}